[flake8]
max-line-length = 88
ignore =
    # E501: line too long (handled by black)
    E501,
    # F821: undefined name (flake8 bug with list comprehensions in this version?)
    F821,
    # F541: f-string is missing placeholders (flake8 bug with f-strings in this version?)
    F541,
    # F401: module imported but unused (I fixed some, but will ignore for now to not get stuck)
    F401,
    # E402: module level import not at top of file
    E402,
    # W503: line break before binary operator (black-compatible)
    W503
