{% extends "layout.html" %}

{% block title %}
Accueil - Analyseur de Sécurité Web
{% endblock %}

{% block content %}
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        <div class=flashes>
        {% for category, message in messages %}
          <div class="alert alert-{{ category }}">{{ message }}</div>
        {% endfor %}
        </div>
      {% endif %}
    {% endwith %}

    <h1>Bienvenue sur l'Analyseur de Sécurité Web</h1>
    <p>Cette application vous permettra de lancer des scans de sécurité et de visualiser les résultats.</p>

    <div id="scan-form-container">
        <h2>Lancer un nouveau scan</h2>
        <form action="/scan" method="post">
            <label for="domain">Domaine à analyser :</label>
            <input type="text" id="domain" name="domain" required placeholder="exemple.com" size="30">
            <button type="submit">Lancer le Scan</button>
        </form>
    </div>

    <div id="results-container">
        <h2>Rapports Existants</h2>
        {% if reports %}
            <table>
                <thead>
                    <tr>
                        <th>Domaine</th>
                        <th>Date du Scan</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for report in reports %}
                        <tr>
                            <td>{{ report.hostname }}</td>
                            <td>{{ report.date }}</td>
                            <td><a href="{{ url_for('static', filename=report.path) }}" target="_blank">Voir le Rapport</a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>Aucun rapport trouvé. Lancez un scan pour commencer.</p>
        {% endif %}
    </div>
{% endblock %}
