<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Analyseur de Sécurité Web{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <h1>{% block header_title %}Analyseur de Sécurité Web{% endblock %}</h1>
    </header>
    <div class="container">
        {% block content %}{% endblock %}
    </div>
    <footer>
        <p>&copy; 2025 Analyseur de Sécurité Web. Tous droits réservés.</p>
    </footer>
</body>
</html>
